name: x86-64 Pull and Save Docker Image
on:
  workflow_dispatch:
    inputs:
      docker_images:
        description: '请填写docker镜像名称 多个用英文逗号分开'
        required: true
        default: 'alpine:latest,busybox:stable-glibc'

jobs:
  pull_and_package:
    runs-on: ubuntu-latest
    environment: x86
    steps:
      - name: Pull and Save Docker Images on Remote Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            images="${{ github.event.inputs.docker_images }}"
            IFS=',' read -r -a image_array <<< "$images"
            for image in "${image_array[@]}"; do
              echo "Pulling: $image"
              docker pull "${image}" --platform "linux/amd64"
              image_name="${image//\//_}"
              image_name="${image_name//:/_}"
              docker save "${image}" | gzip > "${{ secrets.SERVER_PATH }}/${image_name}-amd64.tar.gz"
              echo "Saved: ${image_name}-amd64.tar.gz"
            done
            echo "All done!"
